apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: devseed

resources:
  - ../../base

patches:
  - patch: |-
      apiVersion: argoproj.io/v1alpha1
      kind: WorkflowTemplate
      metadata:
        name: geozarr-pipeline
      spec:
        arguments:
          parameters:
          - name: register_collection
            value: sentinel-2-l2a
          - name: s3_output_prefix
            value: geozarr
          - name: pipeline_image_version
            value: v0
        templates:
        - name: convert-geozarr
          container:
            resources:
              requests:
                memory: 8Gi
                cpu: "2"
              limits:
                memory: 12Gi
                cpu: "4"
