apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: devseed-staging

resources:
  - ../../base

patches:
  - patch: |-
      apiVersion: argoproj.io/v1alpha1
      kind: EventSource
      metadata:
        name: rabbitmq-geozarr
      spec:
        amqp:
          geozarr-events:
            exchangeName: geozarr-staging
